/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

html {
    background-color: green;
    font-family: sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

.c-app {
    display: flex;
    align-items: center;
    height: 100vh;
}

.c-options {
    display: flex;
    padding: 2rem;
    gap: 2rem;


    .c-options__column {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        max-width: 10rem;

        & img {
            height: 5rem;
            cursor: pointer;
        }
    }
}

.c-goal {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 85vh;
    padding: 0 5rem;

    .c-goal__top {
        display: flex;
        justify-content: space-between;
    }

    & .c-goal__top__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 5rem;
    }

    & .c-goal__text {
        text-align: center;
        color: white;
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
    }

    & .c-goal__field {
        height: 100%;
        position: relative;

        border: 4px solid darkgreen;
        border-radius: 1rem;

        & .c-goal__field__buttons {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;

            & .c-button:first-child {
                margin-left: 1rem;
                padding: .5rem 2rem;
            
            }
            & .c-goal__field__undo__svg {
                max-height: 2rem;
                max-width: 2rem;
            }
            & .c-button:last-child {
                margin-right: 1rem;
            }
        }
    }
}

.c-button {
    background-color: gold;
    padding: 1rem 2rem;
    border-radius: 3rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
    font-weight: 600;
    cursor: pointer;
}

.c-success-counter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
    display: absolute;
    left: 0;

    & .c-success-counter__svg {
        max-height: 2rem;
        max-width: 2rem;
        fill: lime;
    }

    & .c-success-counter__text {
        color: white;
        font-weight: 600;
    }
}

.c-success__overlay {
    position: absolute;
    /* take up entire screen */
    inset: 0;
}

.c-success__overlay--hidden {
    pointer-events: none;
}

.c-success__symbol {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    opacity: 0.5;
    height: 100%;

    /* display above backdrop */
    position: relative;
    /* z-index: 1; */


    transition: opacity 1s ease;
}

.c-success__overlay--hidden .c-success__symbol {
    opacity: 0;
    pointer-events: none;
}

.c-success__svg__container {
    width: 20rem;
    height: 20rem;
    position: absolute;
    transition: top 1s ease;
    transform: translateY(-50%);
    top: 50%;
}

.c-success__overlay--hidden .c-success__svg__container {
    top: 150%;
}

.c-success__svg {
    fill: limegreen;
}

.js-objects-container {
    /* make mouse clicks go through */
    pointer-events: none;
}



/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/